<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mediatek.mt6381eco">

    <application>
        <activity
            android:name=".biz.connect.ConnectActivity"
            android:label="@string/connect">
            <intent-filter>
                <action android:name="${applicationId}.connect" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".biz.peripheral_info.PeripheralInfoActivity"
            android:label="@string/device_info">
            <intent-filter>
                <action android:name="${applicationId}.device_name" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>